<div>
    <div class="float-right">
        <button class="btn btn-danger" @onclick="OnRemoveClick">&times;</button>
    </div>
    <p>@Value.Id</p>

    @if (Value is NodeModelTranslate nmt)
    {
        <NodeTranslate Value="nmt" ValueChanged="TranslateValueChanged" />
    }
    @if (Value is NodeModelRotate nmr)
    {
        <NodeRotate Value="nmr" ValueChanged="RotateValueChanged" />
    }
    else
    {
        <p>Error: Unknown node type: @(Value.GetType().Name)</p>
    }


</div>

@code {
    [Parameter]
    public NodeModel Value { get; set; }

    [Parameter]
    public EventCallback<NodeModel> ValueChanged { get; set; }

    [Parameter]
    public EventCallback<NodeModel> OnRemove { get; set; }

    private Task OnRemoveClick(MouseEventArgs e)
    {
        return OnRemove.InvokeAsync(Value);
    }

    private Task TranslateValueChanged(NodeModelTranslate nmt)
    {
        Console.WriteLine($"TranslateValueChanged: {nmt.ToString()}");
        return ValueChanged.InvokeAsync(nmt);
    }

    private Task RotateValueChanged(NodeModelRotate nmr)
    {
        Console.WriteLine($"RotateValueChanged: {nmr.ToString()}");
        return ValueChanged.InvokeAsync(nmr);
    }
}
